.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px 7%;
    transition: 0.5s;
}
.navbar a{
    text-decoration: none;
}
ul{
    flex: 1;
    list-style: none;
    text-align: center;
}

ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
.toggle{
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
   
}
.search-box{
    display: flex;
    align-items: center;
    background:#62046d;
    padding: 10px 20px;
    border-radius: 50px;
}
.search-box input{
    padding: 3px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    max-width: 200px;

}
.search-box img{
    background: #62046d;
    width: 20px;
    cursor: pointer;   
    
}

.search-box input::placeholder{
    color: #fff;
}
.dark .navbar{
    background: #000;
    
}
.dark .navbar a{
    color: #fff;
}
.navbar .logoImg{
    width: 250px;
}
.account-img{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
}
.dark .dropdown-menu{
    background-color: #000;
    color: white;
}
.dropdown-menu{
    position: absolute;
    top: 100px;
    right: 20px;
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 200px;
}
.dropdown-menu::before{
    content: "";
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
}
.dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}
.dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px, 0;
    font-weight: 500;
    color: var(--primary-text-color);
    line-height: 1.2 rem;
}
.dropdown-menu ul li{
    padding: 10px, 0;
    border-top: 1px solid rgba(0,0,0,0.05);
}
.dropdown-menu ul li:hover a{
    color: rgb(215,34,12);
    cursor: pointer;
}
.dropdownItem{
    display: flex;
    margin: 10px auto;
}
.dropdownItem img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
}
.dropdownItem a{
    max-width: 10px;
    margin-left: 10px;
    transition: var(--speed);
}
