.home-container {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  line-height: 1.6;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; /* Added margin for spacing */
  margin-left: 800px;
}

.home-header {
  color: #62046d; /* Rich purple for the title */
  font-size: 2.5rem;
}

.add-course-button {
  background-color: #62046d;
  color: #fff;
  border: 2px solid #62046d; /* Add border for consistent button styling */
  border-radius: 25px; /* Rounded corners for a softer look */
  padding: 10px 30px; /* Adjust padding for better appearance */
  font-size: 1rem; /* Ensure the text is legible and consistent */
  font-weight: bold; /* Match font weight for emphasis */
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth hover effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
}

.add-course-button:hover {
  background-color: #4e0358;
}

.courses-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
  margin-top: 20px;
}

.courses-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.courses-header h2 {
  font-size: 2rem;
  color: #62046d;
}

.home-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-section {
  border: 1px solid #a7709b; /* Subtle purple border */
  border-radius: 5px;
  padding: 15px;
  background-color: #f5eef8; /* Light purple background */
}

.home-section h3 {
  color: #62046d; /* Consistent purple tone */
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.home-section p {
  font-size: 1rem;
  color: #555;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 0fr)); /* Responsive layout */
  gap: 20px;
}

.course-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f9f9f9;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.course-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  background-color: #62046d;
}

.course-banner {
  width: 100%;
  height: auto;
}

.course-video {
  width: 100%;
  height: 200px;
  object-fit: cover; /* Ensures the video fits within the container */
}

.course-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  color: #62046d;
}
.course-card:hover .course-title {
  color: #fff; /* Change the course title text to white on hover */
}
