@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Roboto Condensed", sans-serif ;
}

.container{
  width: 100vw ;
  background: white;
  min-height: 100vh;
  transition: 0.5s;
}
.container.dark{
  background:#222;
}
.component{
  margin: 10px;
  text-align: center;
}